@import "tailwindcss";

@theme {
  --color-primary: #6D4AFF;
  --color-primary-light: #F2EFFF;
  --color-secondary: #4C7EFF;
  --color-success: #39B96E;
  --color-warning: #F39A32;
}

body {
  font-family: Inter, "PingFang SC", "Microsoft YaHei", "Noto Sans SC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
