@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  --color-primary-light: #FFF7ED;
  --color-secondary: #FB923C;
  --color-success: #39B96E;
  --color-warning: #F39A32;
}

body {
  font-family: Inter, "PingFang SC", "Microsoft YaHei", "Noto Sans SC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
